<nav th:fragment="header" class="navbar navbar-expand-lg bg-body-tertiary" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggle" aria-controls="navbarToggle" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarToggle">
            <a th:href="@{/}" class="navbar-brand">
                家計管理
            </a>
            <ul class="navbar-nav nav-underline">
                <li class="nav-item">
                    <a th:href="@{/expenses}" class="nav-link" style="color:white;">
                        支出一覧
                    </a>
                </li>
            </ul>
        </div>
    </div>
</nav>
